
<%- include partials/header1.ejs %>

    <link rel="stylesheet" type="text/css" href="css/shop.css">

<%- include partials/nav.ejs %>
<div class='container mt-3'>
    <!--ORDER INFORMATION-->
    <div class='row justify-content-center' style='padding-top:25px; padding-bottom:25px;'>
        <div class='col-md-10'>
            <a class="btn btn-danger d-block mb-3" style="cursor:pointer;" data-toggle="collapse" data-target="#orderInformation" aria-expanded="false" aria-controls="orderInformation">
                Order information
            </a>
            <div class="collapse" id="orderInformation">
                <div class="row">
                    <div class="col-md-8">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Item</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Product 1</td>
                                    <td>2x</td>
                                    <td>3 $</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Product 22</td>
                                    <td>2x</td>
                                    <td>33324 $</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Product 333331</td>
                                    <td>2x</td>
                                    <td>32334 $</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4 m-auto">
                        <p style="font-size:20px">Order Total:</p>
                        <h3 style="color:#22ad40;">2200 $</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--ENDS ORDER INFORMATION-->
    <!--START SHIPPING INFORMATION-->
    <div class='row justify-content-center' style='padding-top:25px; padding-bottom:25px;'>
        <div class='col-md-10'>
            <a class="btn btn-info d-block mb-3" style="cursor:pointer;" data-toggle="collapse" data-target="#shippingInformation" aria-expanded="false" aria-controls="shippingInformation">
                Shipping information
            </a>
            <div class="collapse show" id="shippingInformation">
                <div class="form-group row">
                    <label for="firstname" class="col-2 col-form-label">Firstname</label>
                    <div class="col-10">
                        <input class="form-control" type="text" value="firstname" id="firstname">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lastname" class="col-2 col-form-label">Lastname</label>
                    <div class="col-10">
                        <input class="form-control" type="text" value="lastname">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="email" class="col-2 col-form-label">Email</label>
                    <div class="col-10">
                        <input class="form-control" type="email" value="bootstrap@example.com" id="email">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="address" class="col-2 col-form-label">Address</label>
                    <div class="col-10">
                        <input class="form-control" type="text" value="address" id="address">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="city" class="col-2 col-form-label">City</label>
                    <div class="col-10">
                        <input class="form-control" type="text" value="city" id="city">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="postalnumber" class="col-2 col-form-label">Postal Number</label>
                    <div class="col-10">
                        <input class="form-control" type="number" value="postalnumber" id="postalnumber">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-tel-input" class="col-2 col-form-label">Telephone</label>
                    <div class="col-10">
                        <input class="form-control" type="tel" value="1-(555)-555-5555" id="example-tel-input">
                    </div>
                </div>
            </div>
            <div class="">
                <form action="/order?_method=POST" method="POST">
                    <button class="btn btn-success float-right" style="width:180px">Buy</button>
                </form>
                
            </div>
        </div>
    </div>
    <!--END SHIPPING INFORMATION-->
</div>