
<%- include partials/header1.ejs %>

   

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" rel="stylesheet" />
    <link href="/stylesheets/main.css" rel="stylesheet" />
    <!--<link href="/stylesheets/hoverEffectIdea/set1.css" rel="stylesheet" />
    <link href="/stylesheets/hoverEffectIdea/set2.css" rel="stylesheet" /-->
    <link href="/stylesheets/imagehover.min.css" rel="stylesheet" />
     <link rel="stylesheet" type="text/css" href="css/shop.css">>

<%- include partials/nav.ejs %>
<div class='container mt-3'>
    <!--ORDER INFORMATION-->
    
    <!--ENDS ORDER INFORMATION-->
    <!--START SHIPPING INFORMATION-->
    <div class='row justify-content-center' style='padding-top:25px; padding-bottom:25px;'>
        <div class='col-md-10'>
            <a class="btn btn-info d-block mb-3" style="cursor:pointer;" data-toggle="collapse" data-target="#shippingInformation" aria-expanded="false" aria-controls="shippingInformation">
                Shipping information
            </a>
            <div class="collapse show" id="shippingInformation">
                <div class="form-group row">
                    <label for="firstname" class="col-2 col-form-label">Ime</label>
                    <div class="col-10">
                        <input class="form-control" type="text"  id="firstname" placeholder="Unesite ime">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lastname" class="col-2 col-form-label">Prezime</label>
                    <div class="col-10">
                        <input class="form-control" type="text" placeholder="Unesite prezime">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="email" class="col-2 col-form-label">Email</label>
                    <div class="col-10">
                        <input class="form-control" type="email" placeholder="Unesite e-mail" id="email">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="address" class="col-2 col-form-label">Ulica</label>
                    <div class="col-10">
                        <input class="form-control" type="text"  id="address">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="city" class="col-2 col-form-label">Grad</label>
                    <div class="col-10">
                        <input class="form-control" type="text"  id="city">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="postalnumber" class="col-2 col-form-label">Postarki broj</label>
                    <div class="col-10">
                        <input class="form-control" type="number"  id="postalnumber">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-tel-input" class="col-2 col-form-label">Telefon</label>
                    <div class="col-10">
                        <input class="form-control" type="tel"  id="example-tel-input">
                    </div>
                </div>
            </div>
            <div class="">
                <form action="/order?_method=POST" method="POST">
                    <button class="btn btn-success float-right" style="width:180px">Kupi</button>
                </form>
                
            </div>
        </div>
    </div>
    <!--END SHIPPING INFORMATION-->
</div>
<%- include partials/footer.ejs %>