<%- include partials/header1.ejs %>
   
    <link rel="stylesheet" type="text/css" href="css/login.css">

<%- include partials/nav.ejs %>

    <div class="header-overlay">
            
                <div class="container">
                
                    <div class="row">
                    
                        <div class="col-md-12">
                        
    	
				            <div class="loginmodal-container">
                                  <div class="logoo">
                                    <img src="images/logo.png" class="logoa">
                                </div>
                                        <div align="center">
                                            <h1>Zahtjev za promjenu sifre poslan na mail: <%=email%></h1>
					                    </div>
                            </div>
		
	
                           
                        </div>
                    
                    </div>
              
                
                </div>
            
            </div>

<%- include partials/footer.ejs %>