<%- include partials/header1.ejs %>
   
    <link rel="stylesheet" type="text/css" href="css/login.css">

<%- include partials/nav.ejs %>

    <div class="header-overlay">
            
                <div class="container">
                
                    <div class="row">
                    
                        <div class="col-md-12">
                        
    	
				            <div class="loginmodal-container">
                                  <div class="logoo">
                                    <img src="images/logo.png" class="logoa">
                                </div>
                                          <form action="/login" method="POST" onsubmit="return validation()" >
                                              
                                            <input id="id_username" type="text" name="username" placeholder="username" >
                                                <span id="username_span"  style="color: red"></span>
                                          
                                            <input id="id_pass" type="password" name="password" placeholder="password" >
                                                <span id="pass_span"  style="color: red"></span>
                                           
                                            <input type="submit" name="login" class="login loginmodal-submit" value="login">
                                          </form>
					
					 
					
					
					
                                    <div class="login-help">
                                            <a href="/register">Nemate raÄun? Registrirajte se! </a> 
                                            <a href="#">Zaboravili ste lozinku?</a>
                                    </div>
                            </div>
		
	
                           
                        </div>
                    
                    </div>
              
                
                </div>
            
            </div>

<script src="js/login.js"></script>

<%- include partials/footer.ejs %>