<% include partials/header1.ejs %>
<% include partials/header2.ejs %>

<div class="container">
  <div class="row">
    
    <h1><center>Dodaj novi artikl</center></h1>
    <div style="width: 30%; margin: 20px auto">
      <form action="/shop" method="post">
        
        <div class="form-group">
          <input class="form-control" type="text" name="naziv" placeholder="naziv artikla">
        </div>
        
        <div class="form-group">
          <input class="form-control" type="text" name="cijena" placeholder="cijena artikla">
        </div>
        
        <div class="form-group">
          <input class="form-control" type="text" name="slika" placeholder="url slike">
        </div>
        
        <div class="form-group">
          <input class="form-control" type="text" name="opis" placeholder="opis artikla">
        </div>
        
        <div class="form-group">
                  <button class="btn btn-lg btn-primary btn-block"> Submit </button>
        </div>
      </form>
    </div>
        <center><a href="/shop">Vrati se u shop</a></center>
    
  </div>
</div>

<% include partials/footer %>