<% include partials/header1.ejs %>
  <link rel="stylesheet" type="text/css" href="../css/novosti.css">
  <link rel="stylesheet" type="text/css" href="../css/shop.css">
<% include partials/nav.ejs %>


<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Novosti</h1>
            <p>Na ovoj stranici ćete pronaći sve najvažnije informacije vezane za eSports...</p>
                    <form action="/novosti" method="GET" class="form-inline">
            		<div class="form-group">
            			<input type="text" name="search" placeholder="Traži..">
            			<input type="submit" value="Pretraži">
            		</div>
            	</form>
            <% if(currentUser){ if(currentUser.isAdmin == true){ %>
            <p> 
                <a class="btn btn-primary btn-lg" href="/novosti/new">dodaj novost</a>
            </p>
            <% }}%>
        </div>
</header>
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% novosti.forEach(function(novost){ %>
            <div class="col-lg-3 col-md-6">
                <div class="thumbnail">
                    <img src="<%=novost.thumbnail%>" id="slika">
                    <div class="caption">
                        <h4> <%=novost.naslov%> </h4>
                        <p>
                            <a href="/novosti/<%=novost._id%>" class="btn btn-primary">Pročitaj više</a>
                        </p>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>
<%- include partials/footer.ejs %>