<%- include partials/header1.ejs %>
     
    <link rel="stylesheet" type="text/css" href="css/login.css">

<%- include partials/nav.ejs %>

<div class="header-overlay">
            
                <div class="container">
                
                    <div class="row">
                    
                        <div class="col-md-12">
                        
    	
				            <div class="loginmodal-container">
                                   <div class="logoo">
                                    <img src="images/logo.png" class="logoa">
                                </div>
                                          <form action="/register" method="POST">
                                            <input type="text" name="username" placeholder="Username" >
                                            <input type="text" name="email" placeholder="E-mail" >
                                            <input type="password" name="password" placeholder="Unesite lozinku" >
                                            <input type="password" name="password_confirm" placeholder="Ponovo unesite lozinku" >
                                            <input type="submit" name="login" class="login loginmodal-submit" value="register">
                                          </form>
					
                                    <div class="login-help">
                                            <a href="/login">Već ste registrirani? Prijavite se! </a> 
                                    
                                    </div>
                            </div>
		
	
                           
                        </div>
                    
                    </div>
              
                
                </div>
            
            </div>
            
        </header>
        
        
<%- include partials/footer.ejs %>