    .btn-kupi{
    color: #129CF3;
    background: transparent;
    border-color: #129CF3;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 19px;
    text-transform: uppercase;
    border-radius: 3px;
    transition: all 1s;
    display:block;
    margin:auto;
    }
    .roww{
        padding-top:100px;
         
         
    }
  
    .navbar{
                background-color:black;
            }
            .slika{
                width: 250px;
                height: 380px;
                 display:block;
                margin:auto;
                
            }
            .naslov-artikla{
                font-size: 24px;
                text-align: center;
        
                
            }
  .cijena{
     text-align: center;
            }
          
            .navbarr{
                background-color:cornflowerblue;
            }
            .card{
                padding-bottom: 80px;
            }